* {
    margin: 0;
    padding: 0;
}

/*a enlever juste pour du visuel*/
body{
    background-color: #006C55;
}

.encadrementIngredientInput {
    margin-top: 9%;
    margin-left: 9%;
    margin-right: 70%;
    margin-bottom: 2%;
    background-color: white;
    height: 45em;
    border-radius: 0.8em 0 0% 0.8em;
}

.ingredientInput {
    background-color: white;
    border-color: gray;
}
.titreLogoInput{
    width: 10em;
    margin-left: 7.5em;
}

.biscottineMascotteInput{
    padding-top: 10%;
    margin-left: 10.5em;
    width: 4em;
}

.texteSousLogoInput{
    font-size: 1.2em;
    margin-left: 8em;
}

.ingredientInput{
    height: 2em;
    width: 23em;
    border-radius: 2em;
    margin-left: 2.6em;
    margin-top: 2em;
    
}
