/* Container de la recette */
.RecipeDetails {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80vh;
    margin: auto;
    background-color: var(--text-color-alt);
    border-radius: 1.2em;
    overflow: auto;
}

.RecipeDetails-title-fav {
    padding-left: 2em;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Image de la recette */
.RecipeDetails-img {
    border-radius: 0.8em; 
    width: 50%;
    margin: 1em 0 1em 2em;
    height: 40vh;
    object-fit: cover;
}

/* */
.button-like {
    width: 10%;
    border: none;
    background: none;
} 

.button-like img {
    width: auto;
}

/* Div qui contient tous les tags */
.RecipeDetails-tags {
    display: flex;
    padding-left: 2em;
    flex-direction: row;
    gap: 0.2em;
}

/* Tags individuels */
.RecipeDetails-tag {
    background-color: gray; /* Couleur par défaut */
    color: var(--text-color-alt);
    border-radius: 1em;
    padding: 0.2em 0.7em;
}

/* Tags individuels par id */
#min {
    background-color: var(--tag1);
}

#sucre {
    background-color: var(--tag2);
}

#sale {
    background-color: var(--tag3);
}

#petit-dej {
    background-color: var(--tag4);
}

/* Div qui contient les ingrédients */
.RecipeDetails-ing-container {
    padding-left: 2em;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    width: 60%;
}

/* Div qui contient les ingrédients */
.RecipeDetails-ingredients {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    max-width: 10%;
    font-size: 1em;
    text-align: center;
}

.RecipeDetails-ingredient-img {
    width: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: var(--whitesmoke);
    border-radius: 0.8em;
    padding: 0.5em;
}

.RecipeDetails h2 {
    margin: 2em 0 2em 2em;
}

/* Recette */
.RecipeDetails-steps {
    padding-left: 2em;
    margin-left: 2em;
    margin-bottom: 6em;
}

.RecipeDetails-step {
    margin: 1em;
}

/* CSS des titres "Etapes" de la recette */
.RecipeDetails-steps h3 {
    text-transform: uppercase; 
    font-size: 1em;
    letter-spacing: 0.2em;
    color: gray;
}

.arrow {
    width: 2em;
    margin: 1em;
}

/* gere la largeur de la scrollbar  */
.resultatRecherchePlat::-webkit-scrollbar {
    width: 0.6em;
    margin-left: -0.6em;
}

/* gere la couleur et le radius de la scrollbar */
.resultatRecherchePlat::-webkit-scrollbar-thumb {
    background-color: var(--gris-clair);
    border-radius: 1.5em;
}